# ignore cache files
*.pyc
*.pyo
__pycache__/
# ignore virtual environment
venv/
# ignore build artifacts
build/
dist/
*.egg-info/
# ignore logs
*.log
# ignore database files
*.db
*stam.*
*secret*
/data/
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# ignore VS Code settings
.vscode/
# ignore temporary files
*.tmp
*.temp
.env
/src/play

